<body>

	<!-- SignUp Section Start -->
	<section class="signup-sec full-screen">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-5 col-md-5">
					<div class="signup-thumb">
						<img class="img-fluid" src="assets/images/shape-bg.png" alt="Sign Up">
					</div>
				</div>
				<div class="col-xl-7 col-md-7">
					<div class="login-form">
						<h1 class="display-3 text-center mb-5">Let’s Sign In Learnify</h1>
						<form action="#">
							<div class="form-group position-relative">
								<span><i class="feather-icon icon-mail"></i></span>
								<input type="email" placeholder="Your Email" required>
							</div>
							<div class="form-group position-relative">
								<span><i class="feather-icon icon-lock"></i></span>
								<input type="password" placeholder="Password" required>
							</div>
							<button class="btn btn-primary w-100">Sign In</button>
							<div class="form-footer mt-4 text-center">
								<div class="d-flex justify-content-between">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="logged-in">
										<label class="form-check-label" for="logged-in">Stay Logged In</label>
									</div>
									<a href="#" class="text-reset">Forget Password?</a>
								</div>
								<div class="alter overly"><p>OR</p></div>
								<a href="#" class="btn border w-100"><img src="assets/images/icons/facebook.png" alt=""> Continue with Facebook</a>
								<a href="#" class="btn border w-100"><img src="assets/images/icons/google.png" alt="">Continue with Google</a>

								<p>Don't have account? <a href="signup.html" [routerLink]="['/signup']" class="text-primary fw-bold">Sign Up Now</a></p>

							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
