

<section class="promo-sec" style="background: url('assets/images/promo-bg.jpg')no-repeat center center / cover;">
    <img src="assets/images/promo-left.png" alt="" class="anim-img">
    <img src="assets/images/promo-right.png" alt="" class="anim-img anim-right">
    <div class="container">
       <div class="row">
          <div class="col-lg-12 text-center">
             <h1 class="display-2 text-white">About Us</h1>
             <nav aria-label="breadcrumb mt-0">
                <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="#">Home</a></li>
                   <li class="breadcrumb-item active" aria-current="page">About us</li>
                </ol>
             </nav>
          </div>
       </div>
    </div>
 </section>
 <!-- Promo Section End -->

 <!-- About Section Start -->
 <section class="about-sec sec-padding position-relative overflow-hidden">
    <div class="anim-img anim-right"><img src="assets/images/icons/shape-plate.png" alt=""></div>
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-md-8">
             <div class="about-media overly">
                <div class="category-entry active d-flex p-3 p-xl-4 align-items-center">
                   <span class="icon-lg rounded-circle">
                      <img src="assets/images/icons/graduate.png" alt="">
                   </span>
                   <div class="cat-info ms-4">
                      <h3 class="display-3"><span data-purecounter-start="0" data-purecounter-end="8871"
                            class="purecounter">0</span>+</h3>
                      <small>Enrolled Students</small>
                   </div>
                </div>
                <div class="d-flex align-items-baseline justify-content-between">
                   <img class="img-fluid me-3" src="assets/images/about-lg.jpg" alt="About Image">
                   <img class="img-fluid d-none d-sm-block" src="assets/images/about-sm.jpg" alt="About Image">
                </div>
             </div>
          </div>
          <div class="col-xl-5 offset-xl-1 col-md-8">
             <div class="about-txt">
                <span class="badge-lg bg-primary rounded-5">About Us</span>
                <h2 class="sec-title">We Makes a Door to <span class="color">Bright Future</span></h2>
                <div class="about-lists mt-5">
                   <div class="d-flex about-item">
                      <span class="icon icon-sm bg-light rounded-circle "><img src="assets/images/icons/pencil.png"
                            alt="pencil"></span>
                      <div class="ms-3">
                         <h3 class="display-5">Education is Power</h3>
                         <p>The cost of ignorance exceed that of education teaches us how to achieve success</p>
                      </div>
                   </div>
                   <div class="d-flex about-item">
                      <span class="icon icon-sm bg-light rounded-circle "><img src="assets/images/icons/bulb.png"
                            alt="pencil"></span>
                      <div class="ms-3">
                         <h3 class="display-5">Knowledge for Life</h3>
                         <p>Education is smart enough to change the human mind positively your Door to The Future</p>
                      </div>
                   </div>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic doloremque sapiente reiciendis
                      consequuntur.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- About Section End -->

 <section class="stat-sec sec-padding">
    <div class="container">
       <div class="row stat-wrap row-cols-sm-2 row-cols-xl-4 g-2 bg-primary rounded-3">
          <div class="col">
             <div class="d-flex stat-item align-items-center">
                <span class="icon-lg rounded-circle"><img src="assets/images/icons/graduation-cap.png" alt=""></span>
                <div class="stat-info text-info ms-4">
                   <div class="display-3 fw-bold"><span data-purecounter-start="0" data-purecounter-end="2548"
                         class="purecounter">2548</span>+</div>

                   <p>Students Enrolled</p>
                </div>
             </div> <!-- Item End -->
          </div>
          <div class="col">
             <div class="d-flex stat-item align-items-center">
                <span class="icon-lg rounded-circle"><img src="assets/images/icons/graduate.png" alt=""></span>
                <div class="stat-info text-info ms-4">
                   <div class="display-3 fw-bold"><span data-purecounter-start="0" data-purecounter-end="123"
                         class="purecounter">123</span>+</div>
                   <p>Certified Teachers</p>
                </div>
             </div> <!-- Item End -->
          </div>
          <div class="col">
             <div class="d-flex stat-item align-items-center">
                <span class="icon-lg rounded-circle"><img src="assets/images/icons/open-book.png" alt=""></span>
                <div class="stat-info text-info ms-4">
                   <div class="display-3 fw-bold"><span data-purecounter-start="0" data-purecounter-end="423"
                         class="purecounter">423</span>+</div>
                   <p>Premium Courses</p>
                </div>
             </div> <!-- Item End -->
          </div>
          <div class="col">
             <div class="d-flex stat-item align-items-center">
                <span class="icon-lg rounded-circle"><img width="38" src="assets/images/icons/partners.png" alt=""></span>
                <div class="stat-info text-info ms-4">
                   <div class="display-3 fw-bold"><span data-purecounter-start="0" data-purecounter-end="15"
                         class="purecounter">15</span>+</div>
                   <p>Affiliated Partners</p>
                </div>
             </div> <!-- Item End -->
          </div>
       </div>
    </div>
 </section>

 <!-- Team Section Start -->
 <section class="team-sec position-relative sec-padding pt-0">
    <span class="anim-img anim-right"><img src="assets/images/icons/instructor-shape.png" alt="Instructor"></span>
    <div class="container">
       <div class="text-center sec-intro">
          <span class="badge-lg bg-primary rounded-5">Professional Instructor</span>
          <h2 class="sec-title">Meet Our <span class="color">Instructors</span></h2>
       </div>
       <div class="row justify-content-center g-3 g-lg-4">
          <div class="col-lg-4 col-md-6">
             <div class="teacher-entry position-relative" style="background-image: url('./assets/images/teacher2.jpg');">
                <div class="teacher-info position-absolute p-3">
                   <ul class="teacher-socials position-absolute list-unstyled">
                      <li><a href="#"><img src="assets/images/icons/fb.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/linkedin.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/twitter.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/pinterest.png" alt=""></a></li>

                   </ul>
                   <div class="bg-shade p-4 text-center">
                      <div
                         class="social-action position-absolute icon icon-sm bg-secondary rounded-circle text-white">
                         <i class="feather-icon icon-share-2"></i>
                      </div>
                      <h3 class="display-4 mb-1"><a class="text-reset" href="single-instructor.html">Charlotte
                            Wilson</a></h3>
                      <span class="designation">Department Head (Math)</span>
                   </div>
                </div>
             </div> <!-- Teacher Entry End -->
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="teacher-entry position-relative" style="background-image: url('./assets/images/teacher1.jpg');">
                <div class="teacher-info position-absolute p-3">
                   <ul class="teacher-socials position-absolute list-unstyled">
                      <li><a href="#"><img src="assets/images/icons/fb.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/linkedin.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/twitter.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/pinterest.png" alt=""></a></li>

                   </ul>
                   <div class="bg-shade p-4 text-center">
                      <div
                         class="social-action position-absolute icon icon-sm bg-secondary rounded-circle text-white">
                         <i class="feather-icon icon-share-2"></i>
                      </div>
                      <h3 class="display-4 mb-1"><a class="text-reset" href="single-instructor.html">Matthew
                            John</a></h3>
                      <span class="designation">IT Analysist</span>
                   </div>
                </div>
             </div> <!-- Teacher Entry End -->
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="teacher-entry position-relative" style="background-image: url('./assets/images/teacher3.jpg');">
                <div class="teacher-info position-absolute p-3">
                   <ul class="teacher-socials position-absolute list-unstyled">
                      <li><a href="#"><img src="assets/images/icons/fb.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/linkedin.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/twitter.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/icons/pinterest.png" alt=""></a></li>

                   </ul>
                   <div class="bg-shade p-4 text-center">
                      <div
                         class="social-action position-absolute icon icon-sm bg-secondary rounded-circle text-white">
                         <i class="feather-icon icon-share-2"></i>
                      </div>
                      <h3 class="display-4 mb-1"><a class="text-reset" href="single-instructor.html">Sophia Adams</a>
                      </h3>
                      <span class="designation">Department Head (English)</span>
                   </div>
                </div>
             </div> <!-- Teacher Entry End -->
          </div>
       </div>
    </div>
 </section>
 <!-- Team Section End -->

 <!-- Course Section Start -->
 <section class="learn-sec bg-shade sec-padding">
    <div class="container">
       <div class="text-center sec-intro">
          <span class="badge-lg bg-primary rounded-5">How Can You Start</span>
          <h2 class="sec-title fw-bold">Our Learning <span class="color">Process</span></h2>
       </div>
       <div class="row g-4">
          <div class="col-lg-3 col-sm-6">
             <div class="process-card text-center">
                <div class="process-step mx-auto rounded-circle icon position-relative">
                   <span class="position-absolute bg-primary rounded-circle text-info">01</span>
                   <img src="assets/images/icons/globe.png" alt="process">
                </div>
                <h4>Create Account</h4>
                <p>Education is the cornerstone of personal and societal growth. It goes beyond textbooks</p>
             </div>
          </div> <!-- Process Card End -->
          <div class="col-lg-3 col-sm-6">
             <div class="process-card text-center">
                <div class="process-step mx-auto rounded-circle icon position-relative">
                   <span class="position-absolute bg-primary rounded-circle text-info">02</span>
                   <img src="assets/images/icons/teacher.png" alt="process">
                </div>
                <h4>Choose Instructor</h4>
                <p>We are doing smart enough to change the human mind positively your Door to The Future</p>
             </div>
          </div> <!-- Process Card End -->
          <div class="col-lg-3 col-sm-6">
             <div class="process-card text-center">
                <div class="process-step mx-auto rounded-circle icon position-relative">
                   <span class="position-absolute bg-primary rounded-circle text-info">03</span>
                   <img src="assets/images/icons/open-book2.png" alt="process">
                </div>
                <h4>Browse Courses</h4>
                <p>Today's dynamic world, education equips individuals with the skills to navigate challenges</p>
             </div>
          </div> <!-- Process Card End -->
          <div class="col-lg-3 col-sm-6">
             <div class="process-card text-center">
                <div class="process-step mx-auto rounded-circle icon position-relative">
                   <span class="position-absolute bg-primary rounded-circle text-info">04</span>
                   <img src="assets/images/icons/reader.png" alt="process">
                </div>
                <h4>Start Learning</h4>
                <p>Embracing education is investing in progress, empowering individuals to build a foundation</p>
             </div>
          </div> <!-- Process Card End -->
       </div>
    </div>
 </section>
 <!-- Course Section End -->

 <!-- Review Section Start -->
 <section class="review-sec">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-xl-6 order-2 order-md-1 col-md-7">
             <div class="swiper review-slider">
                <div class="quote-icon icon-lg bg-secondary rounded-circle mb-md-4 mb-3"><img
                      src="assets/images/icons/left-quote.png" alt="Quote"></div>
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                   <!-- Slides -->
                   <div class="swiper-slide">
                      <div class="review-entry">
                         <p>Education is the most powerful tool to change the world One thing that
                            can’t be taken from you. A mind is a terrible
                            thing to waste. Education is a key to success and freedom from all the forces to learn
                         </p>
                         <div class="d-sm-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                               <img class="rounded-circle" width="56" src="assets/images/avatar.png" alt="Avater">
                               <div class="avatar-txt ms-3">
                                  <h5 class="display-5 m-0">Luisa Mary</h5>
                                  <small class="text-mute">Technology Facilitator</small>
                               </div>
                            </div>
                            <div class="ratings">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star-half.png" alt="">
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="swiper-slide">
                      <div class="review-entry">
                         <p>
                            We love to purse a best education platform for all. Ipsam quos omnis nisi repudiandae,
                            deleniti eum cupiditate qui tempore animi quaerat modi in possimus consequatur, commodi
                            Lorem ipsum dolor sit amet.
                         </p>
                         <div class="d-sm-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                               <img class="rounded-circle" width="56" src="assets/images/avatar2.png" alt="Avater">
                               <div class="avatar-txt ms-3">
                                  <h5 class="display-5 m-0">Robert Mugabe</h5>
                                  <small class="text-mute">Technology Facilitator</small>
                               </div>
                            </div>
                            <div class="ratings">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star-half.png" alt="">
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="swiper-slide">
                      <div class="review-entry">
                         <p>Education is the most powerful tool to change the world One thing that
                            can’t be taken from you. A mind is a terrible
                            thing to waste. Education is a key to success and freedom from all the forces to learn
                         </p>
                         <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                               <img class="rounded-circle" width="56" src="assets/images/avatar3.png" alt="Avater">
                               <div class="avatar-txt ms-3">
                                  <h5 class="display-5 m-0">Tariqul Islam</h5>
                                  <small class="text-mute">Technology Facilitator</small>
                               </div>
                            </div>
                            <div class="ratings">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star.png" alt="">
                               <img src="assets/images/icons/star-half.png" alt="">
                            </div>
                         </div>
                      </div>
                   </div> <!-- Slide End -->
                </div>
             </div>
          </div>
          <div class="col-xl-6 order-l order-md-2 col-md-5">
             <figure class="review-img">
                <img class="img-fluid" src="assets/images/review-bg.jpg" alt="Review Banner">
             </figure>
          </div>
       </div>
    </div>
 </section>
 <!-- Review Section End -->

 <!-- FAQ Section Start -->
 <section class="faq-sec bg-shade sec-padding position-relative">
    <img src="assets/images/icons/telescope-lg.png" alt="" class="anim-img">
    <img src="assets/images/icons/certificate.png" alt="" class="anim-img anim-right bottom-0">
    <div class="container">
       <div class="sec-intro text-center">
          <span class="badge-lg bg-primary rounded-5">General Questions</span>
          <h2 class="sec-title">Frequently Asked <span class="color">Questions</span></h2>
       </div>
       <div class="row">
          <div class="col-lg-8 mx-auto">
             <div class="accordion-1" id="accordion-faq">
                <div class="accordion-item">
                   <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         What is the Importance of Education?
                      </button>
                   </h2>
                   <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordion-faq">
                      <div class="accordion-body">
                         <p>Teachers play a central role in education. They impart knowledge, facilitate learning, and
                            help students develop
                            critical thinking skills. Teachers also contribute to the social and emotional development
                            of students.</p>
                      </div>
                   </div>
                </div>
                <div class="accordion-item">
                   <h2 class="accordion-header mt-3" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         What are the Different Levels of Education?
                      </button>
                   </h2>
                   <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordion-faq">
                      <div class="accordion-body">
                         <p>Teachers play a central role in education. They impart knowledge, facilitate learning, and
                            help students develop
                            critical thinking skills. Teachers also contribute to the social and emotional development
                            of students.</p>
                      </div>
                   </div>
                </div>
                <div class="accordion-item">
                   <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         What is the Role of Teachers in Education?
                      </button>
                   </h2>
                   <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordion-faq">
                      <div class="accordion-body">
                         <p>Teachers play a central role in education. They impart knowledge, facilitate learning, and
                            help students develop
                            critical thinking skills. Teachers also contribute to the social and emotional development
                            of students.</p>
                      </div>
                   </div>
                </div> <!-- Item End -->
                <div class="accordion-item">
                   <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         What is the Difference Between Public and Private Education?
                      </button>
                   </h2>
                   <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                      data-bs-parent="#accordion-faq">
                      <div class="accordion-body">
                         <p>Teachers play a central role in education. They impart knowledge, facilitate learning, and
                            help students develop
                            critical thinking skills. Teachers also contribute to the social and emotional development
                            of students.</p>
                      </div>
                   </div>
                </div> <!-- Item End -->
             </div>
          </div> <!-- col end -->
       </div>
    </div>
 </section>
 <!-- FAQ Section End -->

 <!-- Newsletter Section Start -->
 <section class="newsletter bg-primary">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-8">
             <span class="badge-lg bg-white text-primary rounded-5">Get Every Single Updates</span>
             <h2 class="display-2 fw-bold text-info">Subscribe <span class="color-info">Newsletter</span></h2>
          </div>
          <div class="col-lg-4">
             <div class="newsletter-form">
                <form action="#">
                   <input class="form-control rounded-5 bg-info" type="email" placeholder="Email Address">
                   <button class="btn btn-secondary w-100 rounded-5 mt-4">Subscribe Newsletter</button>
                </form>
             </div>
          </div>
       </div>
    </div>
 </section>