/* Container principal */
.chatbot-container {
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* En-tête */
.chatbot-header {
  background-color: #5c90e0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-header .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Corps */
.chatbot-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-message {
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 80%;
}

.user-message {
  background-color: #e6f7ff;
  align-self: flex-end;
}

.bot-message {
  background-color: #f1f1f1;
  align-self: flex-start;
}

/* Options */
.chat-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.chat-options button {
  background-color: white;
  border: 1px solid #007bff;
  color: #5c90e0;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.chat-options button:hover {
  background-color: #007bff;
  color: white;
}

/* Pied de page */
.chatbot-footer {

  display: flex;
  align-items: center;
  padding: 10px;

  

}

.chat-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.send-btn {
  background-color: #5c90e0;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.send-btn:hover {
  background-color: #0056b3;
}
