<section class="promo-sec" style="background: url('assets/images/promo-bg.jpg')no-repeat center center / cover;">
    <img src="assets/images/promo-left.png" alt="" class="anim-img">
    <img src="assets/images/promo-right.png" alt="" class="anim-img anim-right">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="display-2 text-white">Contact Us</h1>
                <nav aria-label="breadcrumb mt-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Promo Section End -->

<section class="contact-card-sec sec-padding">
    <div class="container">
        <div class="row gy-3 gy-md-0">
            <div class="col-md-4">
                <div class="card bg-shade text-center">
                    <span class="icon-lg mx-auto bg-secondary text-info rounded-circle mb-4"><i
                            class="feather-icon icon-phone"></i></span>
                    <h5>Call Us</h5>
                    <p><a class="text-reset" href="tel:029-292-5382">+216-50-088-937</a></p>
                    <p><a class="text-reset" href="tel:029-292-5384">+216-53-129-705</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-shade text-center">
                    <span class="icon-lg mx-auto bg-secondary text-info rounded-circle mb-4"><i
                            class="feather-icon icon-mail"></i></span>
                    <h5>Email Us</h5>
                    <ul>
                        <li><a class="text-reset" href="/cdn-cgi/l/email-protection#3d4452484f505c54517d5a505c5451135e5250"><span class="__cf_email__" data-cfemail="b0c9dfc5c2ddd1d9dcf0d7ddd1d9dc9ed3dfdd">[montassarabdallah&#64;gmail.com]</span>
                            </a></li>
                        <li><a class="text-reset" href="/cdn-cgi/l/email-protection#abd2c4ded9c6cac2c7cacfcfd9ced8d8ebccc6cac2c785c8c4c6"><span class="__cf_email__" data-cfemail="11747564697e51767c70787d3f727e7c">[samararibi2000&#64;gmail.com]</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-shade text-center">
                    <span class="icon-lg mx-auto bg-secondary text-info rounded-circle mb-4"><i
                            class="feather-icon icon-map-pin"></i></span>
                    <h5>Locations</h5>
                    <p>Sousse</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->


<!-- Contact Section Start -->
<section class="contact2-sec sec-padding pt-0">
    <div class="offcanvas-overly"></div>
    <div class="container">
        <div class="text-center mb-5 pb-4">
            <h2 class="sec-title mb-1">Contact with Us</h2>
            <p>We are here to answer any question you may have any time.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="contact-form">
                    <form id="contact-form" class="row" method="POST" action="mail.php">
                        <div class="col-lg-6 form-group">
                            <i class="feather-icon icon-user"></i>
                            <input class="form-control" name="name" type="text" placeholder="Name" required>
                        </div>
                        <div class="col-lg-6 form-group">
                            <i class="feather-icon icon-mail"></i>
                            <input class="form-control" name="email" type="email" placeholder="Email Address" required>
                        </div>
                        <div class="col-lg-6 form-group">
                            <i class="feather-icon icon-pocket"></i>
                            <input class="form-control" type="text" name="subject" placeholder="Your Subject" required>
                        </div>

                        <div class="col-lg-6 form-group">
                            <i class="feather-icon icon-phone-call"></i>
                            <input class="form-control" type="text" name="phone" placeholder="Phone Number" required>
                        </div>
                        <div class="col-lg-12 form-group">
                            <textarea class="form-control" name="message" id="message" rows="6"
                                placeholder="Enter your message" required></textarea>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-primary rounded-5 mt-4">Submit Now</button>
                        </div>
                    </form>
                    <!-- Contact Form Start-->
                    <!-- Contact Form Message -->
                    <div class="open-popup rounded-3">
                        <div class="icon">
                            <i class="feather-icon icon-check"></i>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</section>
