<footer class="footer-2 bg-info sec-padding pb-0">
    <div class="container pb-lg-5">
    <div class="row">
    <div class="col-lg-4 col-sm-6">
    <div class="footer-widget about-footer">
    <div class="f-logo mb-5"><a href="index.html"><img src="assets/images/Learnify-logo.png" alt="Logo"></a></div>
    <p>Education is the most potent weapon change the world give man education and he will build a new
    world</p>
    <div class="footer-social mt-4">
    <h3 class="display-5">Follow Us</h3>
    <div class="mt-3">
    <a href="#"><i class="feather-icon icon-twitter"></i></a>
    <a href="#"><i class="feather-icon icon-facebook"></i></a>
    <a href="#"><i class="feather-icon icon-instagram"></i></a>
    <a href="#"><i class="feather-icon icon-linkedin"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-2 col-sm-6">
    <div class="footer-widget">
  
  
    </div>
    </div>
    <div class="col-lg-2 col-sm-6">
    <div class="footer-widget">
   
    
    </div>
    </div>
    <div class="col-lg-4 ps-xxl-5 col-sm-6">
    <div class="footer-widget post-widget">
    <h3 class="widget-title">Get Latest Update</h3>
    <div class="subscribe-cta">
    <p>Sign up our newsletter & get every single updates weekly</p>
    <form action="#" class="subs-form mt-4">
    <div class="position-relative form-group">
    <img src="assets/images/icons/message-dark.png" alt="Message">
    <input class="form-control rounded-3 bg-shade" type="email" placeholder="Enter address">
    </div>
    <button class="btn btn-primary w-100 rounded-3 mt-3">Subscribe Now <i class="feather-icon icon-arrow-right"></i></button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-bottom bg-blue py-3 mt-5">
    <div class="copy-right text-center">
    <p class="m-0">© 2024 Design by <a class="text-secondary" href="https://www.theme-village.com/">Themevillage</a>. All Rights Reserved.
    </p>
    </div>
    </div>
    </footer>