<section class="promo-sec" style="background: url('assets/images/promo-bg.jpg')no-repeat center center / cover;">
    <img src="assets/images/promo-left.png" alt="" class="anim-img">
    <img src="assets/images/promo-right.png" alt="" class="anim-img anim-right">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="display-2 text-white">Front End Development</h1>
                <nav aria-label="breadcrumb mt-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single Course</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Promo Section End -->

<!-- Course Details Start -->
<section class="course-details-sec sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="course-details">
                    <img class="rounded-3 img-fluid" src="assets/images/course-details.jpg" alt="Course">
                    <div class="course-details-meta d-lg-flex align-items-center justify-content-between">
                        <div class="d-flex">
                            <div class="avatar">
                                <img width="56" class="rounded-circle" src="assets/images/avatar2.png" alt="avatar">
                            </div>
                            <div class="avatar-info ms-3">
                                <h5 class="display-5 fw-bold m-0">Charlotte Wilson</h5>
                                <span class="mute-alt">Technology Facilitator</span>
                            </div>
                        </div>
                        <div class="course-reviews">
                            <h6>Reviews</h6>
                            <div class="d-flex align-items-center">
                                <div class="ratings">
                                    <img src="assets/images/icons/star.png" alt="">
                                    <img src="assets/images/icons/star.png" alt="">
                                    <img src="assets/images/icons/star.png" alt="">
                                    <img src="assets/images/icons/star.png" alt="">
                                    <img src="assets/images/icons/star.png" alt="">
                                </div>
                                <span>(03 Reviews)</span>
                            </div>
                        </div>
                        <div class="course-cat">
                            <h6>Categories</h6>
                            <span class="mute-alt">UI/UX Design</span>
                        </div>
                    </div>
                    <!-- Course Tabs Start -->

                    <div class="course-nav">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                    type="button" role="tab" aria-controls="home" aria-selected="true"><i
                                        class="feather-icon icon-bookmark"></i> Overview</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false"><i
                                        class="feather-icon icon-box"></i> Curriculum</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                    type="button" role="tab" aria-controls="contact" aria-selected="false"><i
                                        class="feather-icon icon-user"></i> Instructor</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                    type="button" role="tab" aria-controls="review" aria-selected="false"><i
                                        class="feather-icon icon-star"></i> Review</button>
                            </li>
                            
                        </ul>
                        <div class="tab-content inner-sec" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                aria-labelledby="home-tab">
                                <h2 class="display-4 fw-bold">
                                    Course Overview
                                </h2>
                                <p>Acknowledge any challenges or concerns related to implementing in education. Discuss
                                    possible solutions or
                                    ways to address these challenges, emphasizing the importance of perseverance in adopting
                                    innovative educational
                                    approaches. Speculate on the future implications and developments related to your chosen
                                    topic. Consider how it might
                                    evolve and continue to shape the education landscape</p>
                                <ul>
                                    <li>Energy-efficient designs are also gaining momentum</li>
                                    <li>The construction industry is increasingly leveraging smart technologies</li>
                                    <li>Embracing these trends not only aligns with global environmental goals</li>
                                </ul>
                                <h3 class="display-5 my-4">Fundamentals of UI/UX Design</h3>
                                <p>Acknowledge any challenges or concerns related to implementing in education. Discuss
                                    possible solutions or
                                    ways to address these challenges, emphasizing the importance of perseverance in adopting
                                    innovative educational
                                    approaches. Speculate on the future implications and developments related to your chosen
                                    topic. Consider how it might
                                    evolve and continue to shape the education landscape</p>
                            </div>
                            <div class="tab-pane  fade" id="profile" role="tabpanel"
                                aria-labelledby="profile-tab">
                                <h2 class="display-4 fw-bold">
                                    Course Content
                                </h2>
                                <div class="accordion-2" id="accordion-course">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                Understanding UI and UX Design <sub class="ms-2">/ 2 hours 30min</sub>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                            data-bs-parent="#accordion-course">
                                            <div class="accordion-body">
                                                <div class="lesson-items">
                                                    <ul class="list-unstyled">
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                51.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                User Research
                                                            </span>
                                                            <span>
                                                                3.32 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                2.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading2">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                                                aria-expanded="true" aria-controls="collapse2">
                                            Roles in UI/UX Design <sub class="ms-2">/ 3 hours 10min</sub>
                                            </button>
                                        </h2>
                                        <div id="collapse2" class="accordion-collapse collapse " aria-labelledby="heading2"
                                            data-bs-parent="#accordion-course">
                                            <div class="accordion-body">
                                                <div class="lesson-items">
                                                    <ul class="list-unstyled">
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                User Research
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading3">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
                                                aria-expanded="true" aria-controls="collapse3">
                                            Principles UI/UX Design <sub class="ms-2">/ 3 hours 10min</sub>
                                            </button>
                                        </h2>
                                        <div id="collapse3" class="accordion-collapse collapse " aria-labelledby="heading3"
                                            data-bs-parent="#accordion-course">
                                            <div class="accordion-body">
                                                <div class="lesson-items">
                                                    <ul class="list-unstyled">
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                User Research
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading4">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                                aria-expanded="true" aria-controls="collapse4">
                                            User Research Techniques <sub class="ms-2">/ 3 hours 10min</sub>
                                            </button>
                                        </h2>
                                        <div id="collapse4" class="accordion-collapse collapse " aria-labelledby="heading4"
                                            data-bs-parent="#accordion-course">
                                            <div class="accordion-body">
                                                <div class="lesson-items">
                                                    <ul class="list-unstyled">
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                User Research
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading5">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                                                aria-expanded="true" aria-controls="collapse5">
                                            Creating User Personal <sub class="ms-2">/ 3 hours 10min</sub>
                                            </button>
                                        </h2>
                                        <div id="collapse5" class="accordion-collapse collapse " aria-labelledby="heading5"
                                            data-bs-parent="#accordion-course">
                                            <div class="accordion-body">
                                                <div class="lesson-items">
                                                    <ul class="list-unstyled">
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                User Research
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading6">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                                                aria-expanded="true" aria-controls="collapse6">
                                            User Research Techniques <sub class="ms-2">/ 3 hours 10min</sub>
                                            </button>
                                        </h2>
                                        <div id="collapse6" class="accordion-collapse collapse " aria-labelledby="heading6"
                                            data-bs-parent="#accordion-course">
                                            <div class="accordion-body">
                                                <div class="lesson-items">
                                                    <ul class="list-unstyled">
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                User Research
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                        <li><a href="#" class="d-flex justify-content-between align-items-center">
                                                            <span class="lesson-title">
                                                                <img src="assets/images/icons/video.png" alt="Video">
                                                                Persona Development
                                                            </span>
                                                            <span>
                                                                3.08 
                                                                <img src="assets/images/icons/lock.png" alt="Lock">
                                                            </span>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- Accordion Item End -->
                                </div><!-- Accordion Wrap End -->
                            </div><!-- Tab Item End -->
                            <div class="tab-pane fade" id="contact" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <h2 class="display-4">Instructor</h2>
                                <div class="author-card d-flex align-items-center border rounded-2 bg-shade p-3">
                                    <div class="author-img">
                                        <img src="assets/images/instructor-lg.jpg" alt="Instructor" class="img-fluid rounded-3">
                                    </div>
                                    <div class="author-text">
                                        <h4>Maria Rivera, M.A.</h4>
                                        <small class="text-mute">Arts Instructor</small>
                                        <p>This is a comprehensive outline, and the actual content and duration of each module may vary based on the course
                                            format
                                            and duration. Hands-on activities, case studies, and real-world projects should be integrated throughout the course
                                            to
                                            enhance practical skills.</p>
                                            <div class="social-share white mt-3">
                                                <a href="#"><i class="feather-icon icon-facebook"></i></a>
                                                <a href="#"><i class="feather-icon icon-twitter"></i></a>
                                                <a href="#"><i class="feather-icon icon-youtube"></i></a>
                                                <a href="#"><i class="feather-icon icon-linkedin"></i></a>
                                            </div>
                                    </div>
                                </div>
                            </div><!-- Tab Item End -->
                            <div class="tab-pane fade" id="review" role="tabpanel"
                                aria-labelledby="review-tab">
                                <h2 class="display-4">Reviews (02)</h2>
                                <div class="entry-comments mt-5">
                                    <div class="post-comments">
                                        <ol class="comment-list list-unstyled">
                                            <li>
                                                <article class="comment-entry">
                                                    <div class="d-sm-flex align-items-top">
                                                        <div class="comment-thumb">
                                                            <img width="80" class="img-fluid rounded-circle" src="assets/images/avatar5.png" alt="Comments">
                                                        </div>
                                                        <div class="commentor ms-lg-4 bg-shade p-4 rounded-2">
                                                            <div class="d-flex justify-content-between mb-3">
                                                                <div class="comment-head">
                                                                    <h4 class="display-5 mb-0">Johnathon Smith</h4>
                                                                    <small class="text-muted">Nov 12, 2022 at 12:12 am</small>
                                                                </div>
                                                                <div class="ratings pt-2">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                </div>
                                                            </div>
                                                            <p>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor.</p>
                                                        </div>
                                                    </div>
                                                </article>
                                                <ol class="children">
                                                    <li>
                                                        <article class="comment-entry">
                                                            <div class="d-sm-flex align-items-top">
                                                                <div class="comment-thumb">
                                                                    <img width="80" class="img-fluid rounded-circle" src="assets/images/avatar3.png" alt="Comments">
                                                                </div>
                                                                <div class="commentor ms-lg-4 bg-shade p-4 rounded-2">
                                                                    <div class="d-flex justify-content-between mb-3">
                                                                        <div class="comment-head">
                                                                            <h4 class="display-5 mb-0">Andrew Dian</h4>
                                                                            <small class="text-muted">Nov 12, 2022 at 12:12 am</small>
                                                                        </div>
                                                                        <div class="ratings pt-2">
                                                                            <img src="assets/images/icons/star.png" alt="Star">
                                                                            <img src="assets/images/icons/star.png" alt="Star">
                                                                            <img src="assets/images/icons/star.png" alt="Star">
                                                                            <img src="assets/images/icons/star.png" alt="Star">
                                                                            <img src="assets/images/icons/star-half.png" alt="Star">
                                                                        </div>
                                                                    </div>
                                                                    <p>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo
                                                                        pulvinar tempor.</p>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                <article class="comment-entry">
                                                    <div class="d-sm-flex align-items-top">
                                                        <div class="comment-thumb">
                                                            <img width="80" class="img-fluid rounded-circle" src="assets/images/avatar4.png" alt="Comments">
                                                        </div>
                                                        <div class="commentor ms-lg-4 bg-shade p-4 rounded-2">
                                                            <div class="d-flex justify-content-between mb-3">
                                                                <div class="comment-head">
                                                                    <h4 class="display-5 mb-0">Mc Donald</h4>
                                                                    <small class="text-muted">Nov 12, 2022 at 12:12 am</small>
                                                                </div>
                                                                <div class="ratings pt-2">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star.png" alt="Star">
                                                                    <img src="assets/images/icons/star-half.png" alt="Star">
                                                                </div>
                                                            </div>
                                                            <p>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo
                                                                pulvinar tempor.</p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="contact-form contact2-sec mt-5">
                                        <h3 class="display-4">Add a Review</h3>
                                        <div class="d-flex align-items-center">
                                            <span>Rate This Course:</span>
                                            <div class="ratings ms-2">
                                                <img src="assets/images/icons/star-nil.png" alt="Star">
                                                <img src="assets/images/icons/star-nil.png" alt="Star">
                                                <img src="assets/images/icons/star-nil.png" alt="Star">
                                                <img src="assets/images/icons/star-nil.png" alt="Star">
                                                <img src="assets/images/icons/star-nil.png" alt="Star">
                                            </div>
                                        </div>
                                        <form action="#" class="row gy-3 mt-4">
                                            <div class="col-lg-6 form-group">
                                                <input type="text" placeholder="Your Name">
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <input type="text" placeholder="Email Address">
                                            </div>
                                            <div class="col-lg-12 form-group">
                                                <textarea name="message" id="message" rows="8" placeholder="Comment"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="check">
                                                <label for="check">Save my name, email, and website in this browser for the next time I comment.</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <button class="btn btn-primary mt-4">Leave a Review</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- Tab Item End -->
                        </div>
                    </div>
                </article> <!-- Article End -->
                <div class="related-course pt-5">
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center pb-5">
                            <h2 class="display-4">More Course By <a href="#" class="text-primary">John Doe</a></h2>
                            <a href="courses.html" class="btn btn-outline-primary">View all Course</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="course-entry-3 card rounded-2 bg-white border">
                                <div class="card-media position-relative">
                                    <a href="single-course.html"><img class="card-img-top" src="assets/images/course6.jpg" alt="Course"></a>
                                    <a href="#" class="action-wishlist position-absolute text-white icon-xs rounded-circle"><img
                                            src="assets/images/icons/heart-fill.svg" alt="Wishlist"></a>
                                </div>
                                <div class="card-body">
                                    <div class="course-meta d-flex justify-content-between align-items-center mb-2">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/icons/star.png" alt="">
                                            <strong>4.5</strong>
                                            <span class="rating-count d-none d-xl-block">(1k reviews)</span>
                                        </div>
                                        <span><i class="feather-icon icon-video me-2"></i>25 hours 22m</span>
                                        <span class="lead"><a href="#" class="text-reset"><i class="feather-icon icon-bookmark"></i></a></span>
                                    </div>
                                    <h3 class="sub-title mb-0">
                                        <a href="single-course.html">Comprehensive Introduction to Programming</a>
                                    </h3>
                                    <div class="author-meta small d-flex pt-2 justify-content-between align-items-center mb-3">
                                        <span>By: <a href="#" class="text-reset">Brad Traversy</a>, <a href="#" class="text-reset">Mark Joe</a></span>
                                        <span>12,580 Students</span>
                                    </div>
                                    <div class="course-footer d-flex align-items-center justify-content-between pt-3">
                                        <div class="price">$20.00<del>$35.00</del></div>
                                        <a href="#">Enroll Now <i class="feather-icon icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div> <!-- Course Entry End -->
                        </div>
                        <div class="col-lg-6">
                            <div class="course-entry-3 card rounded-2 bg-white border">
                                <div class="card-media position-relative">
                                    <a href="single-course.html"><img class="card-img-top" src="assets/images/course5.jpg" alt="Course"></a>
                                    <a href="#" class="action-wishlist position-absolute text-white icon-xs rounded-circle"><img
                                            src="assets/images/icons/heart-fill.svg" alt="Wishlist"></a>
                                </div>
                                <div class="card-body">
                                    <div class="course-meta d-flex justify-content-between align-items-center mb-2">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/icons/star.png" alt="">
                                            <strong>4.5</strong>
                                            <span class="rating-count d-none d-xl-block">(1k reviews)</span>
                                        </div>
                                        <span><i class="feather-icon icon-video me-2"></i>25 hours 22m</span>
                                        <span class="lead"><a href="#" class="text-reset"><i class="feather-icon icon-bookmark"></i></a></span>
                                    </div>
                                    <h3 class="sub-title mb-0">
                                        <a href="single-course.html">The Complete Python Pro Bootcamp for 2023</a>
                                    </h3>
                                    <div class="author-meta small d-flex pt-2 justify-content-between align-items-center mb-3">
                                        <span>By: <a href="#" class="text-reset">Brad Traversy</a>, <a href="#" class="text-reset">Mark Joe</a></span>
                                        <span>12,580 Students</span>
                                    </div>
                                    <div class="course-footer d-flex align-items-center justify-content-between pt-3">
                                        <div class="price">$20.00<del>$35.00</del></div>
                                        <a href="#">Enroll Now <i class="feather-icon icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div> <!-- Course Entry End -->
                        </div>
                    </div>
                </div>
            </div> <!-- Course Details End -->
            <div class="col-lg-4">
                <aside class="sidebar ps-lg-4">
                    <div class="widget price-widget border p-4 rounded-3">
                        <h3 class="display-4">$19.99 <del>$36.99</del></h3>
                        <div class="btn-cta mt-4">
                            <a href="#" class="btn btn-primary rounded-2 w-100">Add to Cart</a>
                            <a href="#" class="mt-3 btn btn-outline-primary rounded-2 w-100">Enroll Now</a>
                        </div>
                        <div class="price-widget-inner">
                            <ul>
                                <li><i class="feather-icon icon-calendar"></i>Published <span>28 Sep 2024</span></li>
                                <li><i class="feather-icon icon-user"></i>Instructor <span>Daniel Smith</span></li>
                                <li><i class="feather-icon icon-clipboard"></i>Lectures <span>24</span></li>
                                <li><i class="feather-icon icon-film"></i>Duration <span>22Hr 36Minutes</span></li>
                                <li><i class="feather-icon icon-users"></i>Enrolled <span>2k Students</span></li>
                                <li><i class="feather-icon icon-award"></i>Course level <span>Intermediate</span></li>
                                <li><i class="feather-icon icon-globe"></i>Language <span>English</span></li>
                                <li><i class="feather-icon icon-anchor"></i>Certificate <span>English</span></li>
                                <li><i class="feather-icon icon-gift"></i>Pass Percentage <span>89%</span></li>
                            </ul>
                        </div>
                        <div class="card bg-shade p-3 text-center mt-4">
                            <h6>Share It On</h6>
                            <div class="social-share white my-3 border-bottom pb-3">
                                <a href="#"><i class="feather-icon icon-facebook"></i></a>
                                <a href="#"><i class="feather-icon icon-linkedin"></i></a>
                                <a href="#"><i class="feather-icon icon-youtube"></i></a>
                                <a href="#"><i class="feather-icon icon-twitter"></i></a>
                                <a href="#"><i class="feather-icon icon-instagram"></i></a>
                            </div>
                            <a href="tel:8022882" class="btn btn-outline-primary mt-2"><i class="feather-icon icon-phone me-2"></i>Call Us: 802 288 012</a>
                        </div>
                    </div> <!-- Widget End -->
                    <div class="widget recent-entry">
                        <h3 class="widget-title">Related Courses</h3>
                        <div class="widget-inner">
                            <div class="rc-entry d-flex">
                                <img width="80" src="assets/images/course-x1.jpg" alt="Course" class="img-fluid rounded-3">
                                <div class="course-info ms-3">
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                    </div>
                                    <h6 class="text-nowrap my-1"><a href="single-course.html">Learn Today for...</a></h6>
                                    <h6 class="text-primary">$38.00</h6>
                                </div>
                            </div> <!-- Recent Entry End -->
                            
                            <div class="rc-entry d-flex">
                                <img width="80" src="assets/images/rc-2.jpg" alt="Course" class="img-fluid rounded-3">
                                <div class="course-info ms-3">
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                    </div>
                                    <h6 class="text-nowrap my-1"><a href="single-course.html">No Child Should be...</a></h6>
                                    <h6 class="text-primary">$38.00</h6>
                                </div>
                            </div> <!-- Recent Entry End -->
                            <div class="rc-entry d-flex">
                                <img width="80" src="assets/images/rc-3.jpg" alt="Course" class="img-fluid rounded-3">
                                <div class="course-info ms-3">
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                        <img src="assets/images/icons/star.png" alt="Rating">
                                    </div>
                                    <h6 class="text-nowrap my-1"><a href="single-course.html">Basics of Designing...</a></h6>
                                    <h6 class="text-primary">$38.00</h6>
                                </div>
                            </div> <!-- Recent Entry End -->
                        </div>
                    </div>
                </aside>
            </div> <!-- Sidebar End -->
        </div>
    </div>
</section>
<!-- Course Details End -->

<!-- Newsletter Section Start -->
<section class="newsletter bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <span class="badge-lg bg-white text-primary rounded-5">Get Every Single Updates</span>
                <h2 class="display-2 fw-bold text-info">Subscribe <span class="color-info">Newsletter</span></h2>
            </div>
            <div class="col-lg-4">
                <div class="newsletter-form">
                    <form action="#">
                        <input class="form-control rounded-5 bg-info" type="email" placeholder="Email Address">
                        <button class="btn btn-secondary w-100 rounded-5 mt-4">Subscribe Newsletter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
