
<body style="padding-top: 100px;"></body>
<div class="dashbaord-promo position-relative"></div>

<div class="dashbaord-cover bg-shade sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 position-relative">
                <div class="dash-cover-bg rounded-3" style="background-image: url('assets/images/student_bg.jpg');"></div>
                <div class="dash-cover-info d-sm-flex justify-content-between align-items-center">
                    <div class="ava-wrap d-flex align-items-center">
                        <div class="avatar me-3 rounded-circle"><img width="150" src="assets/images/avatar.png"
                                class="rounded-circle" alt="Avatar"></div>
                        <div class="ava-info">
                            <h4 class="display-5 text-white mb-0">Maria Carey Mc.</h4>
                            <div class="ava-meta text-white mt-1">
                                <span><img width="20" src="assets/images/icons/star.png" alt>4.8 </span>
                                <span><i class="feather-icon icon-users"></i>25k Students </span>
                            </div>
                        </div>
                    </div>
                    <a href="courses.html" class="btn btn-sm btn-info rounded-5"><i
                            class="feather-icon icon-plus me-2"></i>Add New
                        Course</a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3">
                <aside class="dashboard-sidebar shadow-1 border rounded-3">
                    <div class="widget">
                        <p class="grettings">Welcome, Maria Carey</p>
                        <nav class="dashboard-nav">
                            <ul class="list-unstyled nav">
                                <li><a class="nav-link active" href="instructor-dashboard.html"><i
                                            class="feather-icon icon-home"></i><span>Dashboard</span></a></li>
                                <li><a class="nav-link" href="instructor-profile.html"><i
                                            class="feather-icon icon-user"></i><span>My
                                            Profile</span></a></li>
                                <li><a class="nav-link" href="instructor-enrolled-courses.html"><i
                                            class="feather-icon icon-book-open"></i><span>Enrolled
                                            Courses</span></a>
                                </li>
                                <li><a class="nav-link" href="instructor-wishlist.html"><i
                                            class="feather-icon icon-gift"></i><span>Wishlist</span></a></li>
                                <li><a class="nav-link" href="instructor-reviews.html"><i
                                            class="feather-icon icon-star"></i><span>Reviews</span></a>
                                </li>
                                <li><a class="nav-link" href="instructor-my-quiz-attempts.html"><i
                                            class="feather-icon icon-box"></i><span>My
                                            Quiz Attempts</span></a>
                                </li>
                                <li><a class="nav-link" href="instructor-order-history.html"><i
                                            class="feather-icon icon-shopping-bag"></i><span>Order
                                            History</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="widget">
                        <p class="grettings">instructor</p>
                        <nav class="dashboard-nav">
                            <ul class="list-unstyled nav">
                                <li><a class="nav-link" href="instructor-courses.html"><i
                                            class="feather-icon icon-book"></i><span>My Courses</span></a></li>
                                <li><a class="nav-link" href="instructor-assignments.html"><i
                                            class="feather-icon icon-briefcase"></i><span>Assignments</span></a>
                                </li>
                                <li><a class="nav-link" href="instructor-quiz-attemps.html"><i
                                            class="feather-icon icon-cpu"></i><span>Quiz Attempts</span></a>
                                </li>
                                <li><a class="nav-link" href="instructor-announcements.html"><i
                                            class="feather-icon icon-bell"></i><span>Announcements</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="widget">
                        <p class="grettings">User</p>
                        <nav class="dashboard-nav">
                            <ul class="list-unstyled nav">
                                <li><a class="nav-link" href="instructor-settings.html"><i
                                            class="feather-icon icon-settings"></i><span>Settings</span></a></li>
                                <li><a class="nav-link" href="index-2.html"><i
                                            class="feather-icon icon-log-out"></i><span>Logout</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 ps-lg-4">
                <section class="dashbaord-sec">
                    <h2 class="display-5 pb-3 mb-4">Dashboard</h2>
                    <div class="row g-4">
                        <div class="col-lg-4">
                            <div class="stat-counter d-flex align-items-center shadow-1 rounded-3">
                                <div class="stat-info">
                                    <h4 class="display-4 fw-bold mb-0"><span data-purecounter-start="0"
                                            data-purecounter-end="15" class="purecounter">15</span></h4>
                                    <p>Enrolled Courses</p>
                                </div>
                                <span class="icon-lg shadow-sm ms-auto rounded-circle"><img
                                        src="assets/images/icons/book-lg.svg" alt></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="stat-counter d-flex align-items-center shadow-1 rounded-3">
                                <div class="stat-info">
                                    <h4 class="display-4 fw-bold mb-0"><span data-purecounter-start="0"
                                            data-purecounter-end="24" class="purecounter">24</span>K</h4>
                                    <p>Enrolled Students</p>
                                </div>
                                <span class="icon-lg shadow-sm ms-auto rounded-circle"><img
                                        src="assets/images/icons/art.svg" alt></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="stat-counter d-flex align-items-center shadow-1 rounded-3">
                                <div class="stat-info">
                                    <h4 class="display-4 fw-bold mb-0"><span data-purecounter-start="0"
                                            data-purecounter-end="2860" class="purecounter">2860</span>$</h4>
                                    <p>Total Earnings</p>
                                </div>
                                <span class="icon-lg shadow-sm ms-auto rounded-circle"><img
                                        src="assets/images/icons/calculator.svg" alt></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="stat-counter d-flex align-items-center shadow-1 rounded-3">
                                <div class="stat-info">
                                    <h4 class="display-4 fw-bold mb-0"><span data-purecounter-start="0"
                                            data-purecounter-end="9" class="purecounter">9</span></h4>
                                    <p>Active Courses</p>
                                </div>
                                <span class="icon-lg shadow-sm ms-auto rounded-circle"><img
                                        src="assets/images/icons/bulb-lg.svg" alt></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="stat-counter d-flex align-items-center shadow-1 rounded-3">
                                <div class="stat-info">
                                    <h4 class="display-4 fw-bold mb-0"><span data-purecounter-start="0"
                                            data-purecounter-end="27" class="purecounter">27</span>+</h4>
                                    <p>Global Leader</p>
                                </div>
                                <span class="icon-lg shadow-sm ms-auto rounded-circle"><img
                                        src="assets/images/icons/learning.png" alt></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="stat-counter d-flex align-items-center shadow-1 rounded-3">
                                <div class="stat-info">
                                    <h4 class="display-4 fw-bold mb-0"><span data-purecounter-start="0"
                                            data-purecounter-end="15" class="purecounter">15</span>+</h4>
                                    <p>Enrolled Courses</p>
                                </div>
                                <span class="icon-lg shadow-sm ms-auto rounded-circle"><img
                                        src="assets/images/icons/graduate-lg.svg" alt></span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dashboard-sec mt-5 ">
                    <h3 class="widget-title mb-4">My Courses</h3>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Enrolled</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="single-course.html">Graphic Design</a>
                                </td>
                                <td>
                                    50
                                </td>
                                <td>
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="single-course.html">3D Motion Design</a>
                                </td>
                                <td>
                                    50
                                </td>
                                <td>
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="single-course.html">Principle of Proggraming</a>
                                </td>
                                <td>
                                    247
                                </td>
                                <td>
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="single-course.html">Web Development</a>
                                </td>
                                <td>
                                    50
                                </td>
                                <td>
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="single-course.html">Artificial Intelligence</a>
                                </td>
                                <td>
                                    50
                                </td>
                                <td>
                                    <div class="ratings">
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                        <img src="assets/images/icons/star.png" alt>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>


<div class="back-top"><i class="feather-icon icon-chevron-up"></i></div>